.w3docs {
  position: absolute;
  margin: 0;
  margin-left: -16px;
  height: 32px;
  width: 32px;
  background-color: #ecf1f4;
  border-radius: var(--border-radius-sm);
  box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
  cursor: pointer;
}
.main input[type="checkbox"] {
  visibility: hidden;
}
.main input:active ~ .w3docs {
  background-color: white;
}

.main input:checked ~ .w3docs {
  background-color: #f15928;
}
.w3docs:after {
  content: "";
  position: absolute;
  display: none;
}
.main input:checked ~ .w3docs:after {
  display: block;
}
.main .w3docs:after {
  left: 12px;
  bottom: 12px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
